#when executing this req file it will download these files in venv and
# -e . will look for setup file and will install the project as local package itself where __init__().py file is present.
tensorflow==2.12.0
pandas
gdown
dvc
mlflow==2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .